.vscode
.github/*
.claude/
!.github/workflows/
meta.ini
SkyrimSE.code-workspace
skyrimse.ppj
.editorconfig
tools

build/
SKSE_Source/build/
SKSE_Source/extern/
cmake-build*/
*.pdb
*.exp
*.lib
*.obj
*.o
*.exe
*.user
*.suo
*.userosscache
*.sln.docstates
